*.xcuserstate
PriceBar.xcodeproj/xcuserdata/leonidnifantijev.xcuserdatad/xcschemes/xcschememanagement.plist
PriceBar.xcodeproj/xcuserdata/leonidnifantijev.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
*.xcexplist
PriceBar.xcodeproj/project.xcworkspace/xcuserdata/leonidnifantijev.xcuserdatad/xcdebugger/Expressions.xcexplist
PriceBar.xcodeproj/project.xcworkspace/xcuserdata/leonidnifantijev.xcuserdatad/UserInterfaceState.xcuserstate
